<a href="https://colab.research.google.com/github/najiaahmedd/CIND820FinalReport/blob/main/Descriptive_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
projectdata<-read.csv("projectfiles.csv")
head(projectdata)

  Dis.No        Year Seq Glide Disaster.Group Disaster.Subgroup Disaster.Type
1 1970-0013-ARG 1970  13       Natural        Hydrological      Flood
2 1970-0109-AUS 1970 109       Natural        Meteorological    Storm
3 1970-0044-BEN 1970  44       Natural        Hydrological      Flood
4 1970-0063-BGD 1970  63       Natural        Meteorological    Storm
5 1970-0026-BGD 1970  26       Natural        Meteorological    Storm
6 1970-0035-BGD 1970  35       Natural        Hydrological      Flood
  Disaster.Subtype Disaster.Subsubtype Event.Name ⋯ No.Homeless Total.Affected
1                                                 ⋯ NA                NA
2 Tropical cyclone                     Ada        ⋯ NA                NA
3                                                 ⋯ NA                NA
4 Tropical cyclone                                ⋯ NA           3648000
5                                                 ⋯ NA               110
6                                                 ⋯ NA          10000000
  Reconstruction.Costs...000.US.. Insured.Damages...000.US..
1 NA                              NA
2 NA                              NA
3 NA                              NA
4 NA                              NA
5 NA                              NA
6 NA                              NA
  Total.Damages...000.US.. CPI      Adm.Level Admin1.Code Admin2.Code
1 25000                    15.00128
2 72475                    15.00128
3   200                    15.00128
4 86400                    15.00128
5    NA                    15.00128
6 25000                    15.00128
  Geo.Locations
1
2
3
4
5
6

In [9]:
str(projectdata)

'data.frame':	14644 obs. of  47 variables:
 $ Dis.No                         : chr  "1970-0013-ARG" "1970-0109-AUS" "1970-0044-BEN" "1970-0063-BGD" ...
 $ Year                           : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ Seq                            : int  13 109 44 63 26 35 58 9005 37 54 ...
 $ Glide                          : chr  "" "" "" "" ...
 $ Disaster.Group                 : chr  "Natural" "Natural" "Natural" "Natural" ...
 $ Disaster.Subgroup              : chr  "Hydrological" "Meteorological" "Hydrological" "Meteorological" ...
 $ Disaster.Type                  : chr  "Flood" "Storm" "Flood" "Storm" ...
 $ Disaster.Subtype               : chr  "" "Tropical cyclone" "" "Tropical cyclone" ...
 $ Disaster.Subsubtype            : chr  "" "" "" "" ...
 $ Event.Name                     : chr  "" "Ada" "" "" ...
 $ Country                        : chr  "Argentina" "Australia" "Benin" "Bangladesh" ...
 $ ISO                            : chr  "ARG" "AUS" "BEN" "BGD" ...
 $ Region                         : chr  "South America" "Australia and New Zealand" "Western Africa" "Southern Asia" ...
 $ Continent                      : chr  "Americas" "Oceania" "Africa" "Asia" ...
 $ Location                       : chr  "Mendoza" "Queensland" "Atacora region" "Khulna, Chittagong" ...
 $ Origin                         : chr  "" "" "" "" ...
 $ Associated.Dis                 : chr  "" "" "" "" ...
 $ Associated.Dis2                : chr  "" "" "" "" ...
 $ OFDA.Response                  : chr  "" "" "Yes" "Yes" ...
 $ Appeal                         : chr  "" "" "" "" ...
 $ Declaration                    : chr  "" "" "" "" ...
 $ Aid.Contribution               : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Value                  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Scale                  : chr  "Km2" "Kph" "Km2" "Kph" ...
 $ Latitude                       : chr  "" "" "" "" ...
 $ Longitude                      : chr  "" "" "" "" ...
 $ Local.Time                     : chr  "" "" "" "" ...
 $ River.Basin                    : chr  "" "" "" "" ...
 $ Start.Year                     : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ Start.Month                    : int  1 1 9 11 4 7 10 8 7 10 ...
 $ Start.Day                      : int  4 NA NA 12 13 NA 23 NA 21 2 ...
 $ End.Year                       : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ End.Month                      : int  1 1 9 11 4 7 10 NA 7 10 ...
 $ End.Day                        : int  4 NA NA 12 13 NA 23 NA 21 2 ...
 $ Total.Deaths                   : int  36 13 NA 300000 17 NA 300 NA 172 3 ...
 $ No.Injured                     : int  NA NA NA NA NA NA NA NA NA 10 ...
 $ No.Affected                    : int  NA NA NA 3648000 110 10000000 NA 10000000 104371 200 ...
 $ No.Homeless                    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Affected                 : int  NA NA NA 3648000 110 10000000 NA 10000000 104371 210 ...
 $ Reconstruction.Costs...000.US..: int  NA NA NA NA NA NA NA NA NA NA ...
 $ Insured.Damages...000.US..     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Damages...000.US..       : int  25000 72475 200 86400 NA 25000 NA 100 46000 500 ...
 $ CPI                            : num  15 15 15 15 15 ...
 $ Adm.Level                      : chr  "" "" "" "" ...
 $ Admin1.Code                    : chr  "" "" "" "" ...
 $ Admin2.Code                    : chr  "" "" "" "" ...
 $ Geo.Locations                  : chr  "" "" "" "" ...

In [10]:
data1 <- na.omit(projectdata)
str(data1)

'data.frame':	1 obs. of  47 variables:
 $ Dis.No                         : chr "1999-0268-TUR"
 $ Year                           : int 1999
 $ Seq                            : int 268
 $ Glide                          : chr ""
 $ Disaster.Group                 : chr "Natural"
 $ Disaster.Subgroup              : chr "Geophysical"
 $ Disaster.Type                  : chr "Earthquake"
 $ Disaster.Subtype               : chr "Ground movement"
 $ Disaster.Subsubtype            : chr ""
 $ Event.Name                     : chr ""
 $ Country                        : chr "Turkey"
 $ ISO                            : chr "TUR"
 $ Region                         : chr "Western Asia"
 $ Continent                      : chr "Asia"
 $ Location                       : chr "Izmit, Kocaeli, Yalova, Golcuk, Zonguldak, Sakarya, Tekirdag, Istanbul, Bursa, Eskisehir, Bolu"
 $ Origin                         : chr ""
 $ Associated.Dis                 : chr ""
 $ Associated.Dis2                : chr ""
 $ OFDA.Response                  : chr "Yes"
 $ Appeal                         : chr ""
 $ Declaration                    : chr "Yes"
 $ Aid.Contribution               : int 116413
 $ Dis.Mag.Value                  : int 8
 $ Dis.Mag.Scale                  : chr "Richter"
 $ Latitude                       : chr "40.748"
 $ Longitude                      : chr "29.864"
 $ Local.Time                     : chr "03:02"
 $ River.Basin                    : chr ""
 $ Start.Year                     : int 1999
 $ Start.Month                    : int 8
 $ Start.Day                      : int 17
 $ End.Year                       : int 1999
 $ End.Month                      : int 8
 $ End.Day                        : int 17
 $ Total.Deaths                   : int 17127
 $ No.Injured                     : int 43953
 $ No.Affected                    : int 715000
 $ No.Homeless                    : int 600000
 $ Total.Affected                 : int 1358953
 $ Reconstruction.Costs...000.US..: int 25000000
 $ Insured.Damages...000.US..     : int 2000000
 $ Total.Damages...000.US..       : int 20000000
 $ CPI                            : num 64.4
 $ Adm.Level                      : chr ""
 $ Admin1.Code                    : chr ""
 $ Admin2.Code                    : chr ""
 $ Geo.Locations                  : chr ""
 - attr(*, "na.action")= 'omit' Named int [1:14643] 1 2 3 4 5 6 7 8 9 10 ...
  ..- attr(*, "names")= chr [1:14643] "1" "2" "3" "4" ...

In [11]:
data2<-read.csv("projectfiles.csv")
head(data2)

  Dis.No        Year Seq Glide Disaster.Group Disaster.Subgroup Disaster.Type
1 1970-0013-ARG 1970  13       Natural        Hydrological      Flood
2 1970-0109-AUS 1970 109       Natural        Meteorological    Storm
3 1970-0044-BEN 1970  44       Natural        Hydrological      Flood
4 1970-0063-BGD 1970  63       Natural        Meteorological    Storm
5 1970-0026-BGD 1970  26       Natural        Meteorological    Storm
6 1970-0035-BGD 1970  35       Natural        Hydrological      Flood
  Disaster.Subtype Disaster.Subsubtype Event.Name ⋯ No.Homeless Total.Affected
1                                                 ⋯ NA                NA
2 Tropical cyclone                     Ada        ⋯ NA                NA
3                                                 ⋯ NA                NA
4 Tropical cyclone                                ⋯ NA           3648000
5                                                 ⋯ NA               110
6                                                 ⋯ NA          10000000
  Reconstruction.Costs...000.US.. Insured.Damages...000.US..
1 NA                              NA
2 NA                              NA
3 NA                              NA
4 NA                              NA
5 NA                              NA
6 NA                              NA
  Total.Damages...000.US.. CPI      Adm.Level Admin1.Code Admin2.Code
1 25000                    15.00128
2 72475                    15.00128
3   200                    15.00128
4 86400                    15.00128
5    NA                    15.00128
6 25000                    15.00128
  Geo.Locations
1
2
3
4
5
6

In [12]:
str(data2)

'data.frame':	14644 obs. of  47 variables:
 $ Dis.No                         : chr  "1970-0013-ARG" "1970-0109-AUS" "1970-0044-BEN" "1970-0063-BGD" ...
 $ Year                           : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ Seq                            : int  13 109 44 63 26 35 58 9005 37 54 ...
 $ Glide                          : chr  "" "" "" "" ...
 $ Disaster.Group                 : chr  "Natural" "Natural" "Natural" "Natural" ...
 $ Disaster.Subgroup              : chr  "Hydrological" "Meteorological" "Hydrological" "Meteorological" ...
 $ Disaster.Type                  : chr  "Flood" "Storm" "Flood" "Storm" ...
 $ Disaster.Subtype               : chr  "" "Tropical cyclone" "" "Tropical cyclone" ...
 $ Disaster.Subsubtype            : chr  "" "" "" "" ...
 $ Event.Name                     : chr  "" "Ada" "" "" ...
 $ Country                        : chr  "Argentina" "Australia" "Benin" "Bangladesh" ...
 $ ISO                            : chr  "ARG" "AUS" "BEN" "BGD" ...
 $ Region                         : chr  "South America" "Australia and New Zealand" "Western Africa" "Southern Asia" ...
 $ Continent                      : chr  "Americas" "Oceania" "Africa" "Asia" ...
 $ Location                       : chr  "Mendoza" "Queensland" "Atacora region" "Khulna, Chittagong" ...
 $ Origin                         : chr  "" "" "" "" ...
 $ Associated.Dis                 : chr  "" "" "" "" ...
 $ Associated.Dis2                : chr  "" "" "" "" ...
 $ OFDA.Response                  : chr  "" "" "Yes" "Yes" ...
 $ Appeal                         : chr  "" "" "" "" ...
 $ Declaration                    : chr  "" "" "" "" ...
 $ Aid.Contribution               : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Value                  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Scale                  : chr  "Km2" "Kph" "Km2" "Kph" ...
 $ Latitude                       : chr  "" "" "" "" ...
 $ Longitude                      : chr  "" "" "" "" ...
 $ Local.Time                     : chr  "" "" "" "" ...
 $ River.Basin                    : chr  "" "" "" "" ...
 $ Start.Year                     : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ Start.Month                    : int  1 1 9 11 4 7 10 8 7 10 ...
 $ Start.Day                      : int  4 NA NA 12 13 NA 23 NA 21 2 ...
 $ End.Year                       : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ End.Month                      : int  1 1 9 11 4 7 10 NA 7 10 ...
 $ End.Day                        : int  4 NA NA 12 13 NA 23 NA 21 2 ...
 $ Total.Deaths                   : int  36 13 NA 300000 17 NA 300 NA 172 3 ...
 $ No.Injured                     : int  NA NA NA NA NA NA NA NA NA 10 ...
 $ No.Affected                    : int  NA NA NA 3648000 110 10000000 NA 10000000 104371 200 ...
 $ No.Homeless                    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Affected                 : int  NA NA NA 3648000 110 10000000 NA 10000000 104371 210 ...
 $ Reconstruction.Costs...000.US..: int  NA NA NA NA NA NA NA NA NA NA ...
 $ Insured.Damages...000.US..     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Damages...000.US..       : int  25000 72475 200 86400 NA 25000 NA 100 46000 500 ...
 $ CPI                            : num  15 15 15 15 15 ...
 $ Adm.Level                      : chr  "" "" "" "" ...
 $ Admin1.Code                    : chr  "" "" "" "" ...
 $ Admin2.Code                    : chr  "" "" "" "" ...
 $ Geo.Locations                  : chr  "" "" "" "" ...

In [13]:
summary(data2)

    Dis.No               Year           Seq            Glide
 Length:14644       Min.   :1970   Min.   :   1.0   Length:14644
 Class :character   1st Qu.:1993   1st Qu.: 130.0   Class :character
 Mode  :character   Median :2003   Median : 304.0   Mode  :character
                    Mean   :2002   Mean   : 731.6
                    3rd Qu.:2012   3rd Qu.: 503.0
                    Max.   :2021   Max.   :9881.0

 Disaster.Group     Disaster.Subgroup  Disaster.Type      Disaster.Subtype
 Length:14644       Length:14644       Length:14644       Length:14644
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 Disaster.Subsubtype  Event.Name          Country              ISO
 Length:14644        Length:14644       Length:14644       Length:14644
 Class :character    Class :character   Class :character   Class :character
 Mode  :character    Mode  :character   Mode  :character   Mode  :character




    Region           Continent           Location            Origin
 Length:14644       Length:14644       Length:14644       Length:14644
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 Associated.Dis     Associated.Dis2    OFDA.Response         Appeal
 Length:14644       Length:14644       Length:14644       Length:14644
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 Declaration        Aid.Contribution   Dis.Mag.Value      Dis.Mag.Scale
 Length:14644       Min.   :       1   Min.   :     -57   Length:14644
 Class :character   1st Qu.:     175   1st Qu.:       7   Class :character
 Mode  :character   Median :     721   Median :     180   Mode  :character
                    Mean   :  125414   Mean   :   50935
                    3rd Qu.:    3511   3rd Qu.:   15150
                    Max.   :78000000   Max.   :13025874
                    NA's   :13967      NA's   :10075
   Latitude          Longitude          Local.Time        River.Basin
 Length:14644       Length:14644       Length:14644       Length:14644
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   Start.Year    Start.Month       Start.Day        End.Year
 Min.   :1970   Min.   : 1.000   Min.   : 1.00   Min.   :1970
 1st Qu.:1993   1st Qu.: 4.000   1st Qu.: 7.00   1st Qu.:1993
 Median :2003   Median : 7.000   Median :15.00   Median :2003
 Mean   :2002   Mean   : 6.411   Mean   :15.21   Mean   :2002
 3rd Qu.:2012   3rd Qu.: 9.000   3rd Qu.:23.00   3rd Qu.:2012
 Max.   :2021   Max.   :12.000   Max.   :31.00   Max.   :2021
                NA's   :268      NA's   :3067
   End.Month         End.Day       Total.Deaths        No.Injured
 Min.   : 1.000   Min.   : 1.00   Min.   :     1.0   Min.   :      1
 1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.:     5.0   1st Qu.:     12
 Median : 7.000   Median :16.00   Median :    16.0   Median :     50
 Mean   : 6.549   Mean   :15.79   Mean   :   361.8   Mean   :   2487
 3rd Qu.: 9.000   3rd Qu.:24.00   3rd Qu.:    50.0   3rd Qu.:    200
 Max.   :12.000   Max.   :31.00   Max.   :300000.0   Max.   :1800000
 NA's   :549      NA's   :2994    NA's   :4445       NA's   :10993
  No.Affected         No.Homeless       Total.Affected
 Min.   :        1   Min.   :       3   Min.   :        1
 1st Qu.:     1200   1st Qu.:     514   1st Qu.:      632
 Median :    10000   Median :    3000   Median :     5736
 Mean   :   888910   Mean   :   72296   Mean   :   727739
 3rd Qu.:    88552   3rd Qu.:   16000   3rd Qu.:    56000
 Max.   :330000000   Max.   :15850000   Max.   :330000000
 NA's   :5798        NA's   :12395      NA's   :3603
 Reconstruction.Costs...000.US.. Insured.Damages...000.US..
 Min.   :      84                Min.   :      34
 1st Qu.:   12000                1st Qu.:   50000
 Median :  194000                Median :  172500
 Mean   : 2392251                Mean   :  799942
 3rd Qu.: 1520376                3rd Qu.:  500000
 Max.   :25000000                Max.   :60000000
 NA's   :14613                   NA's   :13550
 Total.Damages...000.US..      CPI          Adm.Level
 Min.   :        2        Min.   : 15.00   Length:14644
 1st Qu.:    10000        1st Qu.: 55.82   Class :character
 Median :    71000        Median : 69.50   Mode  :character
 Mean   :   774687        Mean   : 68.76
 3rd Qu.:   350000        3rd Qu.: 86.91
 Max.   :210000000        Max.   :100.00
 NA's   :9781             NA's   :315
 Admin1.Code        Admin2.Code        Geo.Locations
 Length:14644       Length:14644       Length:14644
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character

In [14]:
sd(data2$No.Affected, na.rm=TRUE)
sd(data2$No.Injured, na.rm=TRUE)
sd(data2$No.Homeless, na.rm=TRUE)
sd(data2$Total.Affected, na.rm=TRUE)
sd(data2$Total.Damages...000.US.., na.rm=TRUE)
sd(data2$Total.Deaths, na.rm=TRUE)
sd(data2$Reconstruction.Costs...000.US.., na.rm=TRUE)
sd(data2$Insured.Damages...000.US.., na.rm=TRUE)

[1] 8680288

[1] 34024.04

[1] 527142.2

[1] 7851210

[1] 4901266

[1] 6495.046

[1] 5229397

[1] 3060283

In [15]:
var(data2$No.Affected, na.rm=TRUE)
var(data2$No.Injured, na.rm=TRUE)
var(data2$No.Homeless, na.rm=TRUE)
var(data2$Total.Affected, na.rm=TRUE)
var(data2$Total.Damages...000.US.., na.rm=TRUE)
var(data2$Total.Deaths, na.rm=TRUE)
var(data2$Reconstruction.Costs...000.US.., na.rm=TRUE)
var(data2$Insured.Damages...000.US.., na.rm=TRUE)

[1] 7.534739e+13

[1] 1157635284

[1] 277878863780

[1] 6.16415e+13

[1] 2.402241e+13

[1] 42185621

[1] 2.734659e+13

[1] 9.36533e+12